
<hr>
<footer>
   <figure>
      <img src="img/CSUMB-Logo.png" alt="CSUMB Logo" />
   </figure>
   <div>
      CST366 Internet Programming. &copy;2019 <%= name%>, Email me at: <%= email %> <br/>
      <strong>Disclaimer:</strong>The information on this webstie is fictitious. <br/>
      It is used for academic purposes only. WebAssembly is still really cool though.
   </div>
</footer>
    </body>
 </html>
