<% include partials/header.ejs %>
<main>
   <div>
      <h3>Compile!</h3>
      <p>The faster web language.</p>
      <p>
         WebAssembly is compiled code that can be run on mondern web 
         browsers, giving features such as better performance. While this is not written by hand
         it gets compiled from lauguages such as C, C++, Rust, and more.
         <br/>
         <a href="https://webassembly.org/getting-started/developers-guide/" target="_blank">Source</a>
      </p>
   </div>

   <figure>
      <img src="img/compileWASM.png" alt="Compiling Diagram" />
   </figure>
</main>
<% include partials/footer.ejs %>
