<% include partials/header.ejs %>

<div class="jumbotron"> <h1>Welcome to Earth</h1></div>
<main>
   <figure>
      <img src="img/earth.jpg" alt="Earth" />
   </figure>
   <div>
      <p>Facts</p>
      <ul class="list-unstyled">
         <li>The third closest to the Sun.</li>
         <li>Where the humans Live.</li>
         <li>Has one Moon!</li>
         <li>The only planet not named after a god</li>
         <li>The Earth is the densest planet in the Solar System</li>
      </ul>
   </div>
</main>

<% include partials/footer.ejs %>
