<% include partials/header.ejs %>

<div class="jumbotron"> <h1>Welcome to Venus</h1></div>
<main>
   <figure>
      <img src="img/venus.jpg" alt="Venus" />
   </figure>
   <div>
      <p>Facts</p>
      <ul class="list-unstyled">
         <li>The second closest to the Sun.</li>
         <li>Still has Ice in it's craters that are always shadowed.</li>
         <li>Also doesn't have any moons.</li>
         <li>Probably a better canadit for life than Mars.</li>
         <li>Day on Venus lasts longer than a year</li>
      </ul>
   </div>
</main>

<% include partials/footer.ejs %>
