<% include partials/header.ejs %>
<main>
   <figure>
      <img src="img/wasmvsjs.jpg" alt="Web Assembly vs Javascript" />
   </figure>

   <div>
      <h3>Why Use?</h3>
      <p>The faster web language.</p>
      <p>
         Why would you use it, its about 30% faster than Javascript. Why would you not use something that is faster.
         If you need more convincing, WASM also allows you to compile from existing codebases
         such as C or C++ this also gives you access to libraries that were written in that language.
      </p>
   </div>
</main>
<% include partials/footer.ejs %>
