<% include partials/header.ejs %>

<div class="jumbotron"> <h1>Welcome to Mercury</h1></div>
<main>
   <figure>
      <img src="img/mercury.jpg" alt="Mercury" />
   </figure>
   <div>
      <p>Facts</p>
      <ul class="list-unstyled">
         <li>The closest to the Sun.</li>
         <li>Still has Ice in it's craters that are always shadowed.</li>
         <li>Doesn't have any moons</li>
         <li>The second densest planet</li>
         <li>Only the second hottest planet</li>
      </ul>
   </div>
</main>

<% include partials/footer.ejs %>
